body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

#ip-address {
    font-size: 18px;
}
img.small-image {
    display: block;
    margin: 20px auto 0; /* Отступ сверху на 20px, автоматические отступы по горизонтали */
    width: 20%; /* Ширина изображения равна половине ширины контейнера */
    height: auto; /* Сохраняем пропорции изображения */
}
